--charset          utf-8
--readme           README.md
--markup           markdown
--markup-provider  kramdown
--template-path    yard
--default-return   ""
--title            "Haml Documentation"
--query            'object.type != :classvariable'
--query            'object.type != :constant || @api && @api.text == "public"'
--exclude          lib/haml/railtie.rb
--hide-void-return
--protected
--no-private
--no-highlight
-
FAQ.md
CHANGELOG.md
REFERENCE.md
MIT-LICENSE
