= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2 #{pluralize(@user.errors.count, "error")} prohibited this user from being saved:

      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit
