/ This comment has a double hyphen like -- this!
/ This comment has an extraneous --> arrow
/ This comment has an embedded comment <!-- woot! -->
/ This comment has an extraneous <!-- exclamation mark
/ This comment has---three hypens. Not good 

